*.pyc
*.pdf
*errors*
*~
*.swp
*.o
*.hi
*.zip
test.*
*backup*
*i386*
downloads
bin
Desktop
dwhelper
sandbox
programs
tmp
.*
!.gitignore
!.vim
!.local
!.config
plugin
autoload
syntax
.vim/doc/
!.vimrc
!.zshrc
!.xmonad
!.Xdefault
!.kde4
.kde4/share
.kde4/socket*
tmp*
cache*
!.fonts\.conf
