*.pyc
*.pdf
*errors*
*~
*.swp
*.o
*.hi
*.zip
test.*
*backup*
*i386*
downloads
manage
music
doc
bin
vlc
gtk
*Trolltech*
*gnome*
*gecko*
Desktop
dwhelper
proto
sandbox
programs
tmp
.*
!.gitignore
!.vim
!.local
!.config
plugin
autoload
syntax
.vim/doc/
!.vimrc
!.zshrc
!.xmonad
!.Xdefaults
!.kde4
kde.*
.kde4/share
.kde4/socket*
tmp*
cache*
!.fonts\.conf
